<section id="top">
  <div id="title">
  <p>Paul Clegg</p>
  <p>Web Developer</p>
  </div>
  <nav>
    <div>
    <%=link_to image_tag("github2.png", class: "icons"), "http://github.com/cleggameg" %>
    <%= link_to image_tag("twitter2.png", class: "icons"), "http://twitter.com/cleggameg" %>
    <%=link_to image_tag("linkedin2.png", class: "icons"), "http://linkedin.com/in/ptclegg" %>
    <%=link_to image_tag("mail2.png", class: "icons"), "http://github.com/cleggameg" %>
    </div>
  </nav>
</section>

<div id="bottom">
  <div id="inner-bottom">
<p class="header">Summary</p>
  <p>As a logic-based artist, I believe that experiences on the web should be crafted with as much care and attention as any great work of art. Being a former teacher, I created experiences enhanced through thoughtful, student-driven design, I utilize a similar user-driven design principals to develop web-based experiences. I’m a web developer trained in Ruby, Rails, JavaScript, JQuery, AJAX, JSX, and ReactJS.</p>
<p class="header">Skills</p>

<div class="chart3">
<div class="inner-chart">
  <ul>
  <li>Ruby</li>
  <li>Rails</li>
  <li>Rspec</li>
  <li>JavaScript</li>
  <li>jQuery</li>
  <li>AJAX</li>
  </ul>
  </div>
</div>

<div class="chart2">
<div class="inner-chart">
  <ul>
  <li>Pair Programming</li>
  <li>Agile Design</li>
  <li>HTML/CSS</li>
  <li>SQL/ActiveRecord</li>
  <li>Git/Github</li>
  <li>ReactJS</li>
  </ul>
  </div>
</div>


<p class="header">Projects</p>
<p><strong>House Rules</strong></p>
<p>I worked on a team of four to create a communal living app. It allowed users to track inventory of shared items, plan events, organize chores, raise issues, and more. I worked on the back and front ends, emphasizing setting up the database, testing, debugging, UI and UX.</p>
<p class="header">Experience</p>
<p><span class="left-resume"><em>Student</em>, <b>Dev Bootcamp</b></span><span class="right-resume">Chicago, IL Nov 2014 - May 2015</span></p><br>
<ul>
<li>Co-created House Rules, an app aimed at providing elegant solutions to problems posed by communal living.</li>
<li>Applied concepts in algorithmic problem solving, agile design, database construction and maintenance, user experience, and user interaction.</li>
</ul>
<span class="left-resume"><em>Teacher</em>, <b>Edison Learning</b></span><span class="right-resume">Chicago, IL Aug 2014 - Jan 2015</span><br>
<ul>
<li>Created and delivered both digital and in person lessons as part of a larger online learning curriculum.</li>
<li>Coached and supported students in formation, unpacking, progression, and completion of personalized SMART goals.</li>
</ul>
<span class="left-resume"><em>Teacher</em>, <b>Chicago Public Schools</b></span><span class="right-resume">Chicago, IL Oct 2013 - Jun 2014</span><br>
<ul>
<li>Tracked, analyzed, and compared student progress through the use of created daily formative assessments.</li>
<li>Developed and led professional development as part of the Teacher’s Learning Committee (TLC).</li>
</ul>
<span class="left-resume"><em>Department Lead</em>, <b>Betty Shabazz International Charter School</b></span><span class="right-resume">Chicago, IL Aug 2011 - Oct 2013</span><br>
<ul>
<li>Implemented school wide systems and procedures for assessing and analyzing students' performance using quantitative data.</li>
<li>Coached freshman staff in creating curriculum based off student's real time data, targeting student deficits.</li>
</ul>
<p class="header">Education</p>
<div class="education">
<span id="edu">
<p><strong>Kalamazoo College</strong></p>
<p>BA Biology 2008</p>
</span>
<span id="edu2">
<p><strong>Dominican University</strong></p>
<p>MAT Secondary Education 2009</p>
</span>
</div>



</div>
</div>